<body>
<style>
body{
  margin: 0px;
  width: 100%;
  height: 100%;
  outline: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
</style>
    <h1>等！  </h1>
    <p></p>

<h2>
    我很快就会回来！
电话号码: +86 1786 4272 035
</h2>
</body>
