you dont know how to install fabric modloader? well then.
<p>simply click </p>
<a target="_blank" href="https://fabricmc.net">here</a> and follow the instructions to download and install fabric. then open your <a target="_blank" href="https://www.google.com.hk/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjl9K7n8OGDAxWjk1YBHTReD4oQFnoECBUQAQ&url=https%3A%2F%2Fwww.wikihow.com%2FAccess-Your-.Minecraft-Folder-on-the-Computer&usg=AOvVaw3VL4sYNcG5JE_UvbiftZHZ&opi=89978449">.minecraft</a>
folder and create a folder named "mods". then simply download songplayer from the link in the page before. aka https://anthoweb.onthewifi.com/songplayer then you are done! have fun...
