<meta property="og:title" content="OMG ITS A DISCORD EMBED!!!!">
<meta property="og:image" content="https://cdn.discordapp.com/attachments/1036592514758627339/1059541122491359242/New_Project_32.png?ex=65a57b90&is=65930690&hm=9988366e0dc644cc79baffd9ee0023b77e7ce693f548f73e0a84de0ce980f54e&">
<meta property="og:description" content="omgggg embeddd not because im a dev - anthony4933">
<meta name="theme-color" content="#ff9922">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<h1>theres nothing on this page lmao</h1>
